:root {
    --cyan-bg: #B4D0E7;
    --color-white: #FFFFFF;
    --blue-color: #0000ff;
    --icon-space: 1.3em;

}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

/* UTILITIES */
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-btw {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.text-align-end {
    text-align: end;
}

.text-align-center {
    text-align: center;
}

.alignitems-center {
    align-items: center;
}

.mar-auto {
    margin: auto;
}

.weight-bold {
    font-weight: bold;
}

.col-dir {
    flex-direction: column;
}

.row-dir {
    flex-direction: row;
}

.p-left-5 {
    padding-left: 5px;
}

.p-left-40 {
    padding-left: 40px;
}

.p-right-20 {
    padding-right: 50px;

}

.p-y-10 {
    padding: 10px 0;
}

.p-y-20 {
    padding: 20px 0;
}

.p-y-60 {
    padding: 60px 0;
}

.p-y-120 {
    padding: 120px 0;
}

.p-bot-30 {
    padding-bottom: 30px;
}

.p-bot-80 {
    padding-bottom: 80px;
}

.p-top-40 {
    padding-top: 40px;
}

.blue-btn {
    color: var(--color-white);
    padding: 10px;
    background-color: var(--blue-color);
    font-weight: bold;
}

.white-btn {
    padding: 10px;
    background-color: var(--color-white);
    font-weight: bold;
    border: 1px solid black;
    max-width: 40%;
}

.font-size-60 {
    font-size: 60px;
}

.ln-height {
    line-height: 25px;
}

.custom-link {
    text-decoration:underline;
    color: var(--blue-color);
}

/* COMMON */

ul.flex {
    gap: 40px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.subtitle {
    font-size: 2.8rem;
    padding-bottom: 40px;
    font-weight: bold;
}

.small-subtitle {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 1.8rem;
    font-weight: bold;

}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;

}


/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;

    /* debug */
    background-color: white;
}

.border-hover:hover {
    padding-bottom: 30px;
    border-bottom: 3px solid var(--blue-color);
}

.left-side,
.right-side {
    /* width: 40%; */
    height: 80px;
    padding: 20px;

    /* debug */
    /* background-color: yellow; */
}

/* MAIN */

/* JUMBO */
.jumbo-section {
    padding-top: 150px;
    /* debug */
    background-color: var(--cyan-bg);
}

.jumbo-ctn {
    /* debug */
    /* height: 1000px; */
    /* background-color: green; */
}

.jumbo-ctn>span {
    /* width: 100%; */
    font-size: 5rem;
    font-weight: bold;

    /* debug */
    /* height: 300px; */
    /* background-color: red; */
}

.jumbo-ctn .left.rect {
    width: 30%;

    /* debug */
    /* background-color: aqua; */
}

.jumbo-ctn .left a {
    max-width: 60%;
}

.jumbo-ctn .right.rect {
    width: 70%;
    position: relative;

    /* debug */
    /* background-color: red; */
}

.jumbo-ctn .right img {
    position: absolute;
}


/* MAIN-CONTENT */

/* PLANS SECTION */
.plans-section {
    padding-top: 120px;
    /* padding-bottom: 20px; */
    /* debug */
    /* background-color: yellow; */
}

.find-business,
.enterprise {
    /* debug */
    height: 150px;
    /* background-color: orangered; */
}

.circle-ctn span:first-child {
    border: 5px solid var(--blue-color);
}

.circle-ctn span:nth-child(3) {
    border: 3px solid lightgray;

}

.content-card {
    padding-left: 30px;
}

.content-card hr{
    width: 50px;
}

.content-card>span:first-child {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 1.5rem;
}

.content-card>span:nth-child(2) {
    font-weight: bold;
    padding-bottom: 20px;
}

.content-card>span:nth-child(3) {
    color: grey;
    padding-bottom: 40px;
}

.content-card ul li {
    display: flex;
    padding: 10px;
}


.info>span:first-child {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 1.5rem;
}

.info>span:nth-child(2) {
    font-weight: bold;
    padding-bottom: 20px;
}

.info>span:nth-child(3) {
    color: grey;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* PROFESSIONAL LIST */
ul.adv-list li:nth-child(1)::before {
    content: "\f007";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc(var(--icon-space) * -1);
    width: var(--icon-space);
}

ul.adv-list li:nth-child(2)::before {
    content: "\f07b";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc(var(--icon-space) * -1);
    width: var(--icon-space);
}

ul.adv-list li:nth-child(3)::before {
    content: "\f1e0";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc(var(--icon-space) * -1);
    width: var(--icon-space);
}

/* HIGHLIGHT LIST */
ul.highlight-list li:before {
    content: "\f00c";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc(var(--icon-space) * -1);
    width: var(--icon-space);
    color: var(--blue-color);
}

.content-card ul.adv-list li:last-child {
    padding-bottom: 50px;
}

.content-card .blue-btn {
    max-width: 75%;
}

/* PARTNER */

.img-side {
    width: 60%;
    /* debug */
    /* height: 800px; */
    /* background-color: aqua; */
}

.text-side {
    width: 40%;
    /* debug */
    /* height: 800px; */
    /* background-color: pink; */
}

/* OPERATIONS SECTION */

.operations-box {
    flex-wrap: wrap;
    gap: 20px;

    /* debug */
    /* height: 600px; */
    /* background-color: lightgreen; */
}

.operations-box .col-30 {
    width: calc(100% / 3 - 20px);
    height: 500px;
}

.dropbox-business {
    height: 300px;
}

/* SQUARE CONTAINER */

.big-square {
    width: calc(100% / 3);
    border: 1px solid black;
}

.big-square:after {
    content: "";
    padding-bottom: 100%;
}

.big-square.left,
.big-square.right {
    background-color: lightcoral;
    max-width: 800px;
}

.big-square.middle {
    background-color: lightgreen;
    max-width: 800px;
}

.square {
    width: 50%;
    height: calc(100% / 2);
    border: 2px solid black;
}


/* FREE TRIAL */

.free-trial {

    /* debug */
    height: 400px;
    background-color: #B4D0E7;
}

.free-trial .rect {
    background-color: lightcoral;
}


/* FREQUENT QUESTION */

.freq-question {

    /* debug */
    height: 800px;
}

.freq-question .rect {
    height: 500px;
    background-color: violet;
}

/* FOOTER */

footer {

    /* debug */
    /* height: 700px; */
    background-color: black;
}

/* Containers */
.container-65 {
    width: 65%;
}

.container-55 {
    width: 55%;
}

/* Columns */

[class^="col"] {
    gap: 10px;

    /* debug */
    /* background-color: green; */
    border: 1px solid grey;
}

.col-25 {
    width: calc(100% / 5);
    /* debug */
    height: 500px;
}

.col-30 {
    width: calc(100% / 3 - 30px);
    /* debug */
    /* height: 900px; */
    padding-bottom: 40px;
    /* background-color: red; */
}


.col-100 {
    width: 100%;
}