:root {
    --cyan-bg: #B4D0E7;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

img {
    max-width: 100%;
}

/* UTILITIES */
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-btw {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.alignitems-center {
    align-items: center;
}

.mar-auto {
    margin: auto;
}

.col-dir {
    flex-direction: column;
}

.p-y-20 {
    padding: 20px 0;
}

.p-y-60 {
    padding: 60px 0;
}

.p-top-60 {
    padding-top: 60px;
}

/* COMMON */

/* HEADER */
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;

    /* debug */
    background-color: orangered;
}

.left-side,
.right-side {
    width: 25%;
    height: 80px;

    /* debug */
    background-color: yellow;
}

/* MAIN */

/* JUMBO */
.jumbo-section {
    padding-top: 150px;
    /* debug */
    background-color: var(--cyan-bg);
}

.jumbo-ctn {

    /* debug */
    height: 800px;
    background-color: green;
}

/* MAIN-CONTENT */

/* PLANS SECTION */
.plans-section {
    padding-top: 60px;
    padding-bottom: 20px;

    /* debug */
    /* background-color: yellow; */
}

.find-business,
.enterprise {
    /* debug */
    height: 150px;
    background-color: orangered;
}

/* PARTNER */

.partner .img-side {
    width: 70%;
    /* debug */
    height: 800px;
    background-color: aqua;
}

.partner .text-side {
    width: 30%;
    /* debug */
    height: 800px;
    background-color: pink;
}

/* OPERATIONS SECTION */

.rect {

    /* debug */
    height: 200px;
    background-color: lightblue;
}

.operations-box {
    flex-wrap: wrap;
    gap: 20px;

    /* debug */
    /* height: 600px; */
    /* background-color: lightgreen; */
}

.operations-box .col-30 {
    width: calc(100% / 3 - 20px);
    height: 500px;
}

.dropbox-business {
    height: 300px;
}

/* SQUARE CONTAINER */

.big-square {
    width: calc(100% / 3);
    border: 1px solid black;
}

.big-square:after {
    content: "";
    /* display: block; */
    padding-bottom: 100%;
}

.big-square.left,
.big-square.right {
    background-color: lightcoral;
    max-width: 800px;
}

.big-square.middle {
    background-color: lightgreen;
    max-width: 800px;
}

.square {
    width: 50%;
    height: calc(100% / 2);
    border: 2px solid black;
}


/* FREE TRIAL */

.free-trial {

    /* debug */
    height: 400px;
    background-color: #B4D0E7;
}

.free-trial .rect {
    background-color: lightcoral;
}


/* FREQUENT QUESTION */

.freq-question {

    /* debug */
    height: 800px;
}

.freq-question .rect {
    height: 500px;
}

/* FOOTER */

footer {

    /* debug */
    /* height: 700px; */
    background-color: black;
}

/* Containers */
.container-70 {
    width: 70%;
}

.container-60 {
    width: 60%;
}

/* Columns */

.col-25 {
    gap: 10px;
    width: calc(100% / 5);
    /* debug */
    height: 500px;
    background-color: green;
    border: 2px solid black;
}

.col-30 {
    gap: 10px;
    width: calc(100% / 3 - 30px);
    /* debug */
    height: 900px;
    background-color: green;
}


/* test */

.test-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 800px;
}
